@keyframes hover {
  0%,
  100% {
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-10px);
  }
}

.animate-hover{
  animation: hover 2s ease-in-out infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
  font-family: Merienda;
}